<table class="profile" summary="Profile information">
	<tr>
		<td class = "main">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			<div class="sidebar round">
				(Tracking <%= @user.microposts.count %> tracks)
			</div>
			<% unless @user.microposts.empty? %>
				<table class="microposts" summary="User microposts">
					<tr>
						<td class="micropost">
							<h3>Artist</h3>
						</td>
						<td class="micropost">
							<h3>Track</h3>
						</td>
						<td class="micropost">
							<h3>Posted</h3>
						</td>
					</tr>
					<%= render @microposts %>
				</table>
				<%= will_paginate @microposts %>
			<% end %>
		</td>
	</tr>
</table>