<header>

	<%= link_to logo, root_path %>
	<!--<% logo = image_tag("logo.png", :alt => "Sample App", :class => "round") %> this is now in the application helper-->
	
	<!-- 
	this is a rails helper called image_tag, in this case setting the alt and class attributes of the image tag.  
	The HTML this tag produces is:
	<img alt="Sample App" class="round" src="/images/logo.png" />
	The alt attribute is what will be displayed if there is no image
	-->
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<% if signed_in? %>
			<li><%= link_to "Users", users_path %></li>
			<li><%= link_to "Profile", current_user %></li>
			<li><%= link_to "Settings", edit_user_path(current_user) %></li>
			<% end %>
			<li><%= link_to "Help", help_path %></li>
			<!--
			This list uses the rails helper link_to to create links; 
			the 1st argument is the link text, while the 2nd is the URL
			-->
			<% if signed_in? %>
			<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
			<% else %>
			<li><%= link_to "Sign in", signin_path %></li>
			<% end %>
		</ul>
	</nav>
</header>